@import "./variables";

.btn-primary{
    background: transparent;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    font-family: "Helvetica Neue",
    Roboto;
    font-size: 16px;
    letter-spacing: 0.28px;
    color: rgb(255, 255, 255);
    margin: 0px;
    background-color: $primary-blue;
}

.btn-primary:hover{
    border-color: rgb(217, 217, 217);
    opacity: 0.5;
    cursor: pointer;
}

.btn-second{
    background-color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 15px;
    padding: 10px 15px;
    color: rgb(15, 89, 209) !important;
    border-radius: 5px;
    margin-right: 10px;
}

.btn-second:hover{
    opacity: .7;
    cursor: pointer;
}

.process-contain {
    position: relative;
    margin-top: 5px;

    .process-block {
        background-color: rgb(234, 234, 234);
        height: 5px;
        width: 100%;
        border-radius: 20px;
        position: absolute;
    }

    .process-line {
        height: 5px;
        border-radius: 20px;
        position: absolute;
    }
}

// class in line
.display-flex{
    display: flex;
}

.justify-content-space-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.centering{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-direction-column{
    flex-direction: column !important;
}

.mt-30{
    margin-top: 30px;
}

.mt-600 {
    margin-top: 600px;
}

.width-100{
    width: 100%;
}

.clear-border-radius-bottom-left-right{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

// clear tags

a:hover {
    text-decoration: none;
    outline: 0;
}