@import '../../../public/scss/variables';

.header-scroll{
    z-index: 2;
    display: flex;
    position:fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
    padding: 20px 0px;
    transform: translateY(-100%);
    transition: all 0.5s linear;

    &.open{
        transform: translateY(0);
    }

    &-logo{
        height: 50px;
        img{
            height: 100%;
        }
    }

    &-ul{
        width: 600px;
        flex-flow: row wrap;
        display: flex;
        justify-content: center;
    }

    &-li{
        display: flex;
        -webkit-box-pack: start;
        justify-content: center;
        -webkit-box-align: center;
        // align-items: center;
        opacity: 0.5;
        margin: 0px 15px;
        text-align: center;
        transition: all 0.2s ease;
        

        &:hover{
            cursor: pointer;
            color: #fff !important;
            opacity: 1;
        }

        &-icon{
            width: auto;
            height: 15px;
            object-fit: contain;
            margin-right: 7px;
            img{
                height: 100%;
            }
        }

        &-text{
            font-family: "Helvetica Neue",
            Roboto;
            font-size: 18px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.07px;
            color: #333 !important;
        }
    }
}