.detail{
    color: #fff;
    position: relative;
    background-color: #F3F7FA;
    margin-top: 230px;
    height: 430px;

    &-container{
        position: absolute;
        top: -220px;
        width: 100%;
    }

    &-direction{
        display: flex;
        align-items: center;

        i{
            font-size: 20px;
            margin-right: 4px;
            color: #fff;
        }

        i:hover{
            color: #fff;
        }

        p{
            font-size: 15px;
            font-weight: 500;
            color: rgb(255, 255, 255);
            margin-bottom: 2px;
        }
    }

    &-row{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 18px;
    }

    &-infor{
        display: flex;
        align-items: center;

        &-avt{
            border-radius: 50%;
        }

        img{
            width: 50px;
            height: 50px;
            object-fit: cover;
            margin-right: 10px;
        }

        &-title{
            font-size: 20px;
            font-weight: bold;
            line-height: normal;
            color: rgb(255, 255, 255);
            margin-bottom: 0px;
        }

        &-code{
            display: flex;
            align-items: center;
            p{
                font-size: 14px;
                color: rgba(255, 255, 255, 0.5);
                margin-right: 5px;
            }

            img{
                height: 15px;
                width: auto;
                margin: 5px 5px 5px 0px;
            }
            i{
                margin-right: 8px;
            }
        }
    }

    &-btns{
        display: flex;
        height: 32px;
        .btn-second{
            font-size: 12px;
            padding: 4px 15px;
            text-align: center;
            border: 1px solid #d9d9d9;
            white-space: pre;
            display: flex;
            align-items: center;

            img{
                width: 15px;
                object-fit: contain;
                margin-right: 10px;
            }
        }
    }

    // content

    &-li{
        height: 94px;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        margin: 0px 20px;
        min-height: 94px;
        border-bottom: 1px solid #E8E8E8;
    }

    &-card{
        box-shadow: rgb(0 0 0 / 2%) 0px 2.5px 5px 0px;
        background-color: #fff;
        width: 100%;
        border: 1px solid #f0f0f0;
        border-radius: 2px;
        color: #000;

        .detail-li:last-child{
            border-bottom: 0;
        }

        &-first{
            margin-bottom: -1px;
            padding: 16px 24px;
            color: rgba(0, 0, 0, .85);
            font-weight: 500;
            font-size: 16px;
            background: transparent;
            border-bottom: 1px solid #f0f0f0;
            font-variant: tabular-nums;
            line-height: 1.5715;
            list-style: none;
            font-feature-settings: "tnum",
            "tnum";
            font-size: 16px;
            display: flex;
            justify-content: space-between;
        }

        &-title{
            font-variant: tabular-nums;
            line-height: 1.5715;
            list-style: none;
            font-feature-settings: "tnum",
            "tnum";
            font-weight: bold;
        }

        &-decs{
            font-size: 12px;
            font-weight: normal;
            color: rgb(153, 153, 153);
        }

        &-decs-chart{
            color: rgb(153, 153, 153);
            font-size: 15px;
        }

        &-decs-price{
            color: rgb(153, 153, 153);
            font-size: 15px;
            text-align: right;
        }

        &-title-price {
            font-size: 16px;
            font-weight: bold;
            color: rgb(51, 51, 51);
            margin-bottom: 0px;
        }

        &-row{
            display: flex;
            justify-content: space-between;
            margin: 0 8px;
        }
    }

    &-overview{
        &-li{
            display: flex;
            justify-content: space-between;
            color: black;
        }

        &-infor{
            display: flex;
            align-items: center;
            img{
                height: 20px;
                object-fit: contain;
                margin-right: 10px;
            }
            &_name{
                font-size: 14px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 0.33px;
                color: rgb(51, 51, 51);
                text-transform: capitalize;
            }

            &_decs{
                font-size: 12px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.6;
                letter-spacing: 0.33px;
                color: rgb(153, 153, 153);
                text-transform: capitalize;
            }
        }

        &-value{
            font-size: 14px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.33px;
            color: rgb(51, 51, 51);
            text-transform: capitalize;
        }
    }

    &-card-chart{
        padding: 10px 20px;
        border-top: 1px solid #E8E8E8;
        align-items: center;

        &-decs{
            font-size: 15px;
            color: rgb(153, 153, 153);
            margin-right: 5px;
            font-variant: tabular-nums;
            line-height: 1.5715;
            list-style: none;
            font-feature-settings: "tnum",
            "tnum";

            display: flex;
            align-items: center;

            img{
                width: 10px;
                object-fit: contain;
                margin-left: 4px;
            }
        }

        &-value{
            font-size: 15px;
            font-weight: bold;
            color: rgb(51, 51, 51);
        }
    }

    &-canvas{
        // height: 300px;
        border-top: 1px solid #f0f0f0;
        .canvasjs-chart-credit{
            display: none;
        }
    }

    &-event{
        &-li{
            padding: 15px 0;
            margin: 0 20px;
            border-bottom: 1px solid #E8E8E8;

            &:last-child{
                border-bottom: 0;
            }
        }

        &-avt{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: contain;
                margin-left: 20px;
            }
        }

        &-infor{

            &-title{
                margin-top: 0;
                margin-bottom: 0.5em;
                color: rgba(0, 0, 0, .85);
                font-weight: 500;
            }

            p{
                font-size: 12px;
                font-weight: normal;
                color: rgb(153, 153, 153);
            }

            &-status{
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                border-radius: 5px;
                margin-right: 5px;
                padding: 0px 15px;
                height: 25px;
                
                p{
                    font-weight: bold;
                }

                img{
                    width: 10px;
                    object-fit: contain;
                    margin-right: 5px;
                }

                &.locked{
                    background-color: rgb(244, 250, 246);
                    border: 1px solid rgb(9, 158, 61);
                    p{
                        color: rgb(8, 159, 62);
                    }
                }
            }

            &-code{
                margin-top: 5px;
                color: rgba(0, 0, 0, .85);
                font-size: 14px;
                font-variant: tabular-nums;
                line-height: 1.5715;
                list-style: none;
                font-feature-settings: "tnum",
                "tnum";
            }
        }

        &-process{
            p{
                font-size: 12px;
                color: rgb(153, 153, 153);
            }

            .process-contain{
                margin: 10px 0;
            }

            &-days{
                padding-top: 10px;
                font-weight: bold;
                color: rgb(153, 153, 153);
                font-size: 12px;
            }
        }

        &-btn{
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            border-radius: 2.5px;
            border: 0.5px solid rgb(232, 232, 232);
            background-color: rgb(245, 245, 245);
            font-weight: 400;
            white-space: nowrap;
            text-align: center;
            line-height: 1.5715;
            position: relative;
            height: 32px;
            padding: 4px 15px;
            font-size: 14px;
            width: 97px;

            p{
                font-size: 12px;
                font-weight: bold;
                color: rgb(153, 153, 153);
                margin-right: 5px;
            }

            img{
                width: 12px;
                object-fit: contain;
            }
        }
    }

    &-event-container{
        background-color: #F3F7FA;
        padding-bottom: 50px;
    }
}